<!Doctype html>
<html>
<head>
<title>Login Panel</title>
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script> 
<script>
 $(document).ready(function(){
var username, passwd;
 $("#submit").click(function(){
username = $("#username").val();
passwd = $("#passwd").val();
$.post("http://justemma.ddns.net:4444/check", {
username: username,
passwd: passwd
	}, function(data) {    
		if(data ==='ok') {
			window.location.href="/";
			}
		});
	});
});
</script>
</head>
<body>
<input type="text" placeholder="Username" id="username"><br />
<input type="password" placeholder="Password" id="passwd"><br />
<input type="button" value="Submit" id="submit">
 </body>
</html>