html {
   position: relative;
   min-height: 100%;
}

body {
   background-color: white;
}
h1 {
   color: black;
}
h1.message {
   color: red;
}
h1.error {
  color:red;
  font-size:250%;
}
.center {
   text-align:center;
}
hr {
    color: black;
    margin-top: 30px;
    /*so you can see it in demo */
    width: 100%
}
section.image:before {
    content:url(../images/banner.jpeg);
    position: absolute;
    width: 100%;
}
div {
 text-align: center;
}
nav.one {
top: 100px;
}
p.error {
text-align:left;
}
p {
text-align: right;
}

header {
    height:150px;
    border:1px solid #CCC;
    width:100%;
    margin:0px auto;
    background:#F0F0F0;
}
footer {
    position: relative;
    width: 100%;
    margin-top: 0px; /* negative value of footer height */
    height: 40px;
    clear: both;
    background:#F0F0F0;
}
li {

}
li.nav {
display:inline;
padding: 25px;
margin: 15px;
}
ul {

}
ul.list {
float: left;
list-style-position: outside;
margin-left: 1em;
}
nav.two {
text-align: center;
}
img.banner {
    height:94px;
    width: 1275px; 
}
@media screen and (max-width:480px) {
     header, nav, body, footer {
        width: 40%;
        font-size: 40%;
        margin-left: 25%;
    }
    li.nav {
        position: static;
        text-align: left;
        font-size: 10%;
        position: static;
        margin-top: -15%;
        margin-right: 50%;
        margin-left: -12%;
        color: red;
    } 
}

