<!Doctype HTML>
<html>
<head>
<title>Postal Rate Calculator</title>
</head>
<body>
<h1>Postal Rate Calculator</h1>
<form action="/postal" method="">
<input type="text" name="weight" placeholder="weight">
<br>
<br>
<select name="mailtype">
<option>Letters (Stamped)</option>
<option>Letters (Metered)</option>
<option>Large Envelopes (Flats)</option>
<option>First-Class Package Service—Retail</option>
</select>
<br>
<br>
<input type="submit" value="calculate">
</form>
</body>
</html>
